{% load static %}
<div id="tab-one-img" class="relative tab-text">
    {% comment %} <img id="tab-one-img" src="{% static 'login_app_static/images/bot.jpg' %}"> {% endcomment %}
    <img id="tab-one-img" src="{% static 'login_app_static/images/analyze.jpg' %}">
    {% comment %} <a href="https://www.freepik.com/free-photo/businessman-pointing-his-presentation-futuristic-digital-screen_15556741.htm#query=automate&position=0&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik {% endcomment %}
    <p class="absolute tab-three-text-one">
        <span class="enlarged off-white2">Custom Report Scheduling</span>
        <br>&nbsp&nbsp&nbsp
        <span class="yellow2">Never miss a deadline again</span>
    </p>
    <p class="absolute tab-three-text-two">
        <br> 
        <br>Simple interface 
        <br>Automatically generate the reports you want
        <br>Pies, bars: We've got you covered
    </p>
</div>