{% load static %}
<div id="tab-one-img" class="relative tab-text first-tab">

    {% comment %} <img id="tab-one-img-img" src="{% static 'login_app_static/images/mailmail.jpg' %}"> {% endcomment %}
    <img id="tab-one-img-img" src="{% static 'login_app_static/images/maily.svg' %}">
    <p class="absolute tab-one-text-one">
        <span class="enlarged off-white1">You have mail</span>
        <br>&nbsp&nbsp&nbsp
        <span class="yellow1">You have options</span>
    </p>    
    <p class="absolute tab-one-text-two">
        <br> Use our email service to keep all your data here or handle it externally
        <br><br> Integrate messaging with custom automations
        <br> <br>Too busy to reply? Create custom canned responses
    </p>
</div>