
{% load static %}
<div id="tab-one-img" class="relative tab-text">
    {% comment %} <img id="tab-one-img" src="{% static 'login_app_static/images/bot.jpg' %}"> {% endcomment %}
    <img id="tab-one-img" src="{% static 'login_app_static/images/auto.jpg' %}">
    {% comment %} <a href="https://www.freepik.com/free-photo/businessman-pointing-his-presentation-futuristic-digital-screen_15556741.htm#query=automate&position=0&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik {% endcomment %}
    <p class="absolute tab-two-text-one">
        <span class="enlarged off-white">Work less. &nbsp Accomplish more.</span>
        <br>&nbsp&nbsp&nbsp
        <span class="yellow">Automation made easy</span>
    </p>
    <p class="absolute tab-two-text-two">
        <br> Create custom automations to assist workflow
        <br> Cover thousands of different scenarios at once
        <br> Complex made simple
        <br>The possibilities are manifold

    </p>
</div>