{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="margin-inline-lg padding-block-lg theme-text">
    <div class="center flex-it">
            <h2 class="title">All Users</h2>
    </div>
        <table class="ticket-table margin-block-lg">
            <tr>
                <th>ID</th>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Level</th>
                <th>Action</th>
            </tr>

        {% for person in users %}
            <tr>
                <td class="">{{person.id}}</td>
                <td>
                <td class="">
                    <a href="{% url 'login-app:user-tickets' user_id=person.id %}?type=Profile">{{person.full_name}}</a>
                </td>
                <td class="">{{person.email}}</td>
                <td class="">{{person.created_at}}</td>
                {% if person.level == 9 %}
                    <td>Super-Admin</td>
                {% elif person.level == 8 %}
                    <td>Staff</td>
                {% else %}
                    <td>Basic</td>
                {% endif %}
                <td>
                <a href="{% url 'login-app:edit-user' user_id=person.id %}">Edit</a>
                </td>
            <tr>
        {% endfor %}

        </table>


<br>
        <div class="pagination-container">
            <div class="pagination">
                {% if users %}
                    <h5 class="theme-text">Page {{ users.number }} of {{users.paginator.num_pages}}</h5>
                {% endif %}

                {% if users.has_previous %}
                    <a  href="?page={{ users.previous_page_number }}" data-which_table={{tag_filter}}>Previous</a>
                {% endif %}

                <div class="pagination-a-container">
                    {% if page_range_length > 1 %}
                            {% for page in page_range %} 
                                {% if page != "…" %}
                                    <a class="{% if users.number == page  %}active-pagination{% endif %}" href="all?page={{page}}">{{ page}}</a>
                                {% elif page == "…" %}
                                    <p class="inline-block theme-text">{{ page }}</p>
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                </div>

                {% if users.has_next and users.number != users.paginator.page_range|last %}
                {% comment %} SHOW "Next" IF NOT THE LAST PAGE NUMBER {% endcomment %}
                    <a href="?page={{ users.next_page_number }}" data-which_table={{tag_filter}}>Next</a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css_stylesheet %}
    <link rel="stylesheet" href="{% static 'ticket_app_static/css/all-tickets.css' %}">
    <link rel="stylesheet" href="{% static 'ticket_app_static/css/paginate.css' %}">
{% endblock %}